@import "tailwindcss";

@theme {
  --color-ft-red: #a1172f;
  --color-ft-red-dark: #8a1328;
  --color-ft-red-light: #c9344d;
  --color-ft-gray: #f5f5f5;
  --color-ft-gray-dark: #333333;
  --color-ft-green: #2e7d32;
  --color-ft-amber: #f57f17;
}
